@charset "utf-8";
// Content
// --------------------------------------------------

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.layout {
  padding: 0 0 140px;
}

.content {

}

.article {
  margin-top: 52px;
  margin-bottom: 90px;
  margin-right: 42px;

  ul {
    padding: 0;
    list-style: none;

    & > li {
      position: relative;
      padding-left: 22px;

      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #7ea20e;
      }

      & > ul {
        & > li {
          &::before {
            background: #abb88f;
          }
        }
      }
    }
  }
}
