@charset "utf-8";
// Footer
// --------------------------------------------------

.footer {
  height: 140px;
  margin: -140px auto 0;
  position: relative;

  &-bg {
    background: #4d4d9f;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      opacity: 0.28;
      width: 108%;
      height: 448px;
      left: -2%;
      top: 0;

      @include background-image(radial-gradient(center, ellipse cover, rgba(231, 235, 237, 1) 0%, rgba(231, 235, 237, 0) 100%));
    }

    &::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.07);
      position: absolute;
      width: 100%;
      height: 80px;
      left: 0;
      bottom: 0;

      @include respond-to(sm) {
        height: 100%;
      }
    }
  }

  .copyright {
    float: left;
    font-size: 14px;
    color: $color-light;
    margin-top: 76px;

    @include respond-to(sm) {
      float: none;
      text-align: center;
      margin-top: 40px;
    }
  }

  .author {
    float: right;
    font-size: 14px;
    margin-top: 76px;
    text-align: right;

    a {
      color: $color-light;
      text-decoration: none;
    }

    @include respond-to(sm) {
      float: none;
      text-align: center;
      margin-top: 18px;
    }
  }

  .scrollup {
    background-color: #6d6db9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -20px;
    text-align: center;
    z-index: 1;

    i {
      margin-top: 10px;
    }

    @include respond-to(sm) {
      top: -20px;
    }
  }
}
