//
// Grid system
// --------------------------------------------------

.container {
  padding-left: 15px;
  padding-right: 15px;
  //@include clearfix;
}

.col {
  float: left;
  position: relative;
  padding-right: 5px;
  padding-left: 5px;
}

@include respond-to(sm) {

}

@include respond-to(lg) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }
}
