@charset "utf-8";
// Header
// --------------------------------------------------

.header {
  height: 405px;
  background: url("../img/shutter.jpg") no-repeat center center;

  @media (min-width: 1370px) {
    background-size: cover;
  }

  .title {
    font-size: 56px;
    color: $color-light;
    margin-top: 264px;
    line-height: 1;
    float: left;
  }

  @include respond-to(sm) {
    height: 296px;

    .title {
      margin-top: 140px;
    }
  }
}
