//
// Icons
// --------------------------------------------------

.icons {
  display: inline-block;
  vertical-align: middle;
}

$icons-spacing: 10px;
$icons-sprite-dimensions: true;
$icons-sprite-base-class: ".icons";
$icons-class-separator: "-";
$icons-layout: smart;

@import 'icons/*.png';
@include all-icons-sprites;
