//
// Scaffolding
// --------------------------------------------------

* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

// Body reset
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  height: 100%;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-default;
  background-color: $color-light;

  width: 100%;
  height: 100%;
}

// Images
img {
  vertical-align: middle;
}
