@charset "utf-8";
// Sidebar
// --------------------------------------------------

.sidebar {
  width: 25%;
  float: right;
  //position: relative;
  z-index: 2;

  @include respond-to(sm) {
    display: none;
  }
}

.menu {
  background-color: $color-green;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 80px;
  min-height: 437px;

  &-title {
    color: $color-light;
    font-weight: $font-weight-extra-bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
  }

  a {
    font-size: 16px;
    color: $color-light;
    text-decoration: none;
    display: block;
    padding: 12px 0;
  }

  &-list {
    padding: 0;
    margin-top: 10px;
  }

  &-item {
    border-bottom: 1px solid rgba($color-light, 0.15);

    &:first-child {
      border-top: 1px solid rgba($color-light, 0.15);
    }

    &.open .icons-arrow {
      @include transform(rotate(0.5turn));
    }
  }

  &-toggle {
    display: none;
    padding-left: 26px;

    a {
      padding: 6px 0;
    }

    .open & {
      display: block;
    }
  }
}

.social {
  margin-top: 20px;
  margin-left: 42px;
  padding-bottom: 50px;

  &-title {
    color: $color-gray;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    font-size: 12px;
  }

  &-list {
    padding: 0;
    margin-top: 4px;
    margin-bottom: 0;
    list-style: none;
  }

  &-item {
    display: inline-block;

    a {
      width: 32px;
      height: 32px;
      display: inline-block;
      border: 1px solid $color-gray;
      border-radius: 50%;
      text-align: center;
    }
  }
}
