//
// Utility classes
// --------------------------------------------------

// Floats
.clearfix {
  @include clearfix;
}

// Hide from screenreaders and browsers
.hidden {
  display: none !important;
}
