//
// Variables
// --------------------------------------------------

$duration: .2s;

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-size-base: 17px !default;
$line-height-base: 1.529411764 !default; // 26/17

$color-default: #383845;
$color-green: #7c9a3b;
$color-gray: #707078;
$color-dark: #000;
$color-light: #fff;
