//
// Responsive
// --------------------------------------------------

@mixin respond-to($media) {
  @if $media == sm {
    @media (max-width: 1279px) {
      @content
    }
  } @else if $media == lg {
    @media (min-width: 1280px) {
      @content
    }
  }
}
