/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 17px;
  line-height: 1.52941;
  color: #383845;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

img {
  vertical-align: middle;
}

p {
  margin: 0 0 34px;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 34px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.col {
  float: left;
  position: relative;
  padding-right: 5px;
  padding-left: 5px;
}

@media (min-width: 1280px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hidden {
  display: none !important;
}

.icons, .icons-arrow, .icons-facebook, .icons-google, .icons-logo, .icons-twitter, .icons-up, .icons-vk {
  display: inline-block;
  vertical-align: middle;
}

.icons, .icons-arrow, .icons-facebook, .icons-google, .icons-logo, .icons-twitter, .icons-up, .icons-vk {
  background-image: url('../img/icons-s8eae22ee55.png');
  background-repeat: no-repeat;
}

.icons-arrow {
  background-position: 0 0;
  height: 5px;
  width: 9px;
}

.icons-facebook {
  background-position: -65px 0;
  height: 14px;
  width: 7px;
}

.icons-google {
  background-position: -52px 0;
  height: 14px;
  width: 13px;
}

.icons-logo {
  background-position: 0 -14px;
  height: 13px;
  width: 108px;
}

.icons-twitter {
  background-position: -39px 0;
  height: 11px;
  width: 13px;
}

.icons-up {
  background-position: -9px 0;
  height: 8px;
  width: 14px;
}

.icons-vk {
  background-position: -23px 0;
  height: 9px;
  width: 16px;
}

.header {
  height: 405px;
  background: url("../img/shutter.jpg") no-repeat center center;
}
@media (min-width: 1370px) {
  .header {
    background-size: cover;
  }
}
.header .title {
  font-size: 56px;
  color: #fff;
  margin-top: 264px;
  line-height: 1;
  float: left;
}
@media (max-width: 1279px) {
  .header {
    height: 296px;
  }
  .header .title {
    margin-top: 140px;
  }
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.layout {
  padding: 0 0 140px;
}

.article {
  margin-top: 52px;
  margin-bottom: 90px;
  margin-right: 42px;
}
.article ul {
  padding: 0;
  list-style: none;
}
.article ul > li {
  position: relative;
  padding-left: 22px;
}
.article ul > li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #7ea20e;
}
.article ul > li > ul > li::before {
  background: #abb88f;
}

.sidebar {
  width: 25%;
  float: right;
  z-index: 2;
}
@media (max-width: 1279px) {
  .sidebar {
    display: none;
  }
}

.menu {
  background-color: #7c9a3b;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 80px;
  min-height: 437px;
}
.menu-title {
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
}
.menu ul {
  list-style: none;
  margin-bottom: 0;
}
.menu a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 12px 0;
}
.menu-list {
  padding: 0;
  margin-top: 10px;
}
.menu-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.menu-item:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.menu-item.open .icons-arrow {
  -moz-transform: rotate(0.5turn);
  -ms-transform: rotate(0.5turn);
  -webkit-transform: rotate(0.5turn);
  transform: rotate(0.5turn);
}
.menu-toggle {
  display: none;
  padding-left: 26px;
}
.menu-toggle a {
  padding: 6px 0;
}
.open .menu-toggle {
  display: block;
}

.social {
  margin-top: 20px;
  margin-left: 42px;
  padding-bottom: 50px;
}
.social-title {
  color: #707078;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}
.social-list {
  padding: 0;
  margin-top: 4px;
  margin-bottom: 0;
  list-style: none;
}
.social-item {
  display: inline-block;
}
.social-item a {
  width: 32px;
  height: 32px;
  display: inline-block;
  border: 1px solid #707078;
  border-radius: 50%;
  text-align: center;
}

.footer {
  height: 140px;
  margin: -140px auto 0;
  position: relative;
}
.footer-bg {
  background: #4d4d9f;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}
.footer-bg::before {
  content: "";
  position: absolute;
  opacity: 0.28;
  width: 108%;
  height: 448px;
  left: -2%;
  top: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZWJlZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZWJlZCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #e7ebed 0%, rgba(231, 235, 237, 0) 100%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #e7ebed 0%, rgba(231, 235, 237, 0) 100%);
  background-image: radial-gradient(ellipse cover at center, #e7ebed 0%, rgba(231, 235, 237, 0) 100%);
}
.footer-bg::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.07);
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0;
  bottom: 0;
}
@media (max-width: 1279px) {
  .footer-bg::after {
    height: 100%;
  }
}
.footer .copyright {
  float: left;
  font-size: 14px;
  color: #fff;
  margin-top: 76px;
}
@media (max-width: 1279px) {
  .footer .copyright {
    float: none;
    text-align: center;
    margin-top: 40px;
  }
}
.footer .author {
  float: right;
  font-size: 14px;
  margin-top: 76px;
  text-align: right;
}
.footer .author a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 1279px) {
  .footer .author {
    float: none;
    text-align: center;
    margin-top: 18px;
  }
}
.footer .scrollup {
  background-color: #6d6db9;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -20px;
  text-align: center;
  z-index: 1;
}
.footer .scrollup i {
  margin-top: 10px;
}
@media (max-width: 1279px) {
  .footer .scrollup {
    top: -20px;
  }
}

/*# sourceMappingURL=main.css.map */
